@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;; 
}


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    margin-bottom: 8px;
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3vw;
}

section.normal {
    background-color: white;
}

section.imagem {
    background-color: rgba(51, 51, 51, 1);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.26);
    background-size: cover;
    background-attachment: fixed;
}

section > p {
    padding-bottom: 2em;
}

section.imagem > p {
    display: inline-block;
    padding: 7px;
    text-shadow: 1px 2px 0px black;
    background-color: rgba(0, 0, 0, 0.400);
}

.imagem > p::selection, .imagem br {
    background-color: rgba(0, 0, 0, 0.509);
    border-color: rgba(0, 0, 0, 0.509);
}

section#img01 {
    background-image: url('./imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('./imagens/background002.jpg');
    background-position: right center;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}